.dark-color {
    background-color: #3d4140;
}

.red-color{
    background-color: red;
}

.myAlgin {

    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important
}

.text-light-color {
    color: #9b97a2 !important
}