{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    zoomit || {{ post.title }}
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/home-style.css' %}">
{% endblock %}
{% block body %}
    {% include 'base/header.html' %}
    <div class="container dir-rtl border">
        <div class="row">
            <div class="col-12">
                <h1>{{ post.title }}</h1>
            </div>

            <div class="col-12">
                <div class="card m-auto" style="width: 40rem;">
                    <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
                </div>
                {#                <img alt="post image" width="100%" src="{{ post.image.url }}">#}
            </div>
            {% if post.image3 %}
                <div class="col-12">
                    <div class="card m-auto" style="width: 40rem;">
                        <img class="card-img-top" src="{{ post.image3.url }}" alt="Card image cap">
                    </div>
                    {#                <img alt="post image" width="100%" src="{{ post.image.url }}">#}
                </div>
            {% endif %}
        </div>
        <br>
        {% if setting.author %}
            <p>{{ post.author }}</p>
        {% endif %}
        <p>{{ post.content }}</p>
        {% if post.image2 %}
            <div class="col-12">
                <div class="card m-auto" style="width: 40rem;">
                    <img class="card-img-top" src="{{ post.image2.url }}" alt="Card image cap">
                </div>
                {#                <img alt="post image" width="100%" src="{{ post.image.url }}">#}
            </div>
        {% endif %}
        {% if post.post_setting.allow_discussion %}
            <div id="AllPostComment">
                {% for comment in post.comments.all %}
                    <div>

                        {{ comment.author.email }}

                    </div>
                    <div>
                        {{ comment.content }}

                    </div>
                    <div>
                        dislike:<span id="dislike_count_container{{ comment.id }}">{{ comment.dislike_count }}</span>
                        <br>
                        like:<span id="like_count_container{{ comment.id }}">{{ comment.like_count }}</span>
                    </div>
                    <div>
                        <button type="submit" onclick="likeComment({{ comment.id }},true)"
                                class="btn btn-primary">like
                        </button>
                        <button type="submit" onclick="likeComment({{ comment.id }}, false)"
                                class="btn btn-primary">dislike
                        </button>
                    </div>
                {% endfor %}

            </div>
            {% if post.post_setting.comment %}
                <label for="commentText"></label>
                <textarea name="content" id="commentText"></textarea>
                <button onclick="creatComment({{ post.id }})">Send Comment</button>
            {% endif %}
        {% endif %}
        <hr>
        <div class="row">
            <div class="col-12">مطالب مرتبط:</div>
            {% for related_post in related_posts %}
                <div class="col-12">
                    <a href="{% url 'post_single' related_post.slug %}">{{ related_post.title }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="mt-2">{% include  'base/footer.html' %}</div>
{% endblock %}
{% block javascript %}
    <script>
        function likeComment(CommentId, condition) {
            let data = {
                comment_id: CommentId,
                condition
            }
            data = JSON.stringify(data)
            $.ajax({
                type: 'POST',
                url:{% url 'like_comment' %},
                data: data,
                success: function (response) {
                    let res = JSON.parse(response)
                    $(`#dislike_count_container${res.comment_id}`).text(res.dislike_count)
                    $(`#like_count_container${res.comment_id}`).text(res.like_count)
                }
            })
        }

        function creatComment(postId) {
            let content = $('#commentText').val()
            const data = JSON.stringify({
                post_id: postId,
                content: content,
            })
            $.ajax({
                type: 'POST',
                url: {% url 'create_comment'  %},
                data: data,
                success: function (response) {
                    let res = JSON.parse(response)
                    $('#AllPostComment').prepend(
                        `<div>
                            ${res.author}
                         </div>
                            <div>
                            ${res.content}
                    </div>
                    <div>
                        dislike:<span id="dislike_count_container${res.comment_id}">0</span>
                        <br>
                        like:<span id="like_count_container${res.comment_id}">0</span>
                    </div>
                    <div>
                        <button type="submit" onclick="likeComment(${res.comment_id},true)"
                                class="btn btn-primary">like
                        </button>
                        <button type="submit" onclick="likeComment(${res.comment_id}, false)"
                                class="btn btn-primary">dislike
                        </button>
                    </div>`
                    )
                }
            })
        }
    </script>
{% endblock %}