{% extends 'base/base.html' %}
{% block body %}

    <div class="h-100 w-100">
    <div style="height: 10%">{% include 'base/header.html' %}</div>
        <div class="container" style="height: 80%">
            <div class="row">
                <div class="col-12">
                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        {{ forms.as_ul }}
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    <div style="height: 10%">{% include 'base/footer.html' %}</div>
    </div>
{% endblock %}